.Youtube_Pane {
  text-align: center;
  background-color: rgb(243, 167, 3);
  padding: 5%;
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 1%;
}

.YouTube_Button {
  color: rgb(255, 255, 255);
  background-color: black;
  text-decoration: none;
  padding: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 4%;
  margin-right: 2%;
  margin-left: 2%;
}

.YouTube_Button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  text-decoration: none;
  padding: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 4%;
  margin-right: 2%;
  margin-left: 2%;
}

a:link {
  text-decoration: none;
}

.Input_Description {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  text-align: left;
  border-color: rgb(0, 0, 0);
  border: 1px solid;
  width: 100%;
}

th,
td {
  margin: 5%;
}
